:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url("./assets/bck.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

header {
  background-color: #44165A;
  color: #DFD1EB;
  margin: -10px;
  filter: drop-shadow(0, 4, 4, black)
}

input {
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #B39BCD;
  color: #DFD1EB;
}

input:focus {
  background-color: #DFD1EB;
  color: #B39BCD;
}

button {
  border-radius: 6px;
  background-color: #5E3674;
  color: #DFD1EB;
  margin-top: 20px;
  padding: 10px 20px;
}

button:hover {
  border-radius: 6px;
  background-color: #DFD1EB;
  color: #5E3674;
  margin-top: 20px;
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: #DFD1EB;
}

a:hover {
  color: #5E3674;
}

form {
  background-color: #1E3768;
  border-radius: 10px;
}

footer {
  background-color: #5F207D;
  color: #DFD1EB;
  margin: -10px;
  filter: drop-shadow(0, 4, 4, black);
  text-align: center;
}